@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #F0F0EE ;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* a {
    text-decoration: none;
    color: black;
} */

/* ::-webkit-scrollbar {
    width: 0px;
    height: 5px;
} */

/* .react-horizontal-scrolling-menu--wrapper {
    display: flex;
  } */


.search-btn:hover {
    color: #158E8D !important;
    border: 1px solid #158E8D !important;
}

.hero-banner-img {
    position: absolute;
    right: 30px;
    /* left: 30px; */
    top: 0px;
    width: 900px;
    height: 700px;
    margin-top: -330px;
}

.container {
    background: #fff;
    width: 320px;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 24px;
    border: 16px;
    box-shadow: 0px 2px 5.84px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    border-radius: 25px;
    gap: 15px;
}

.logo-container {
    width: 150px;
    height: 150px;
    background: #f3eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
}

.logo-image {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.company-name{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.job-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px; 
}

.details-container{
    margin: 16px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-logobox{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    margin-top: 12px;

}

.details-logoImage{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.details-companyName{
    font-size: 20px;
    color: #312651;
    font-family: "DMBold";
    text-align: center;
}

.details-companyNameBox{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-jobTitleBox{
    margin-top: 12px;
}


.details-locationName, .details-description, .details-countryName{
    font-size: 16px; 
    color: #83829A;
    font-family: "DMRegular";
    margin-left: 2px;
}

.details-descriptionBox, .details-countryNameBox, .details-locationNameBox{
    display: flex; 
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1200px) {
    .hero-banner-img {
        display: none;
    }
}

